@-webkit-keyframes color_change {
    0% {
        background-color: #FFF;
    }
    50% {
        background-color: #143740;
    }
    100% {
        background-color: #FFF;
    }
}
@-webkit-keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-moz-keyframes color_change {
    0% {
        background-color: #FFF;
    }
    50% {
        background-color: #143740;
    }
    100% {
        background-color: #FFF;
    }
}
@-moz-keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0px);
    }
}

#waiting_for_watson{
  text-align: center;
  display: none;
  padding-top: 15px;
  .ball {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: #FFF;
    display: inline-block;
  }
  #ball_1 {
    -webkit-animation: bounce 2s 0s linear infinite,
    color_change 1.5s linear infinite;
    -moz-animation: bounce 2s 0s linear infinite,
    color_change 1.5s linear infinite;
    animation: bounce 2s 0s linear infinite,
    color_change 1.5s linear infinite;
  }
  #ball_2 {
    -webkit-animation: bounce 2s .5s linear infinite,
    color_change 1.5s .5s linear infinite;
    -moz-animation: bounce 2s .5s linear infinite,
    color_change 1.5s .5s linear infinite;
    animation: bounce 2s .5s linear infinite,
    color_change 1.5s .5s linear infinite;
  }
  #ball_3 {
    -webkit-animation: bounce 2s 1s linear infinite, 
    color_change 1.5s 1s linear infinite;
    -moz-animation: bounce 2s 1s linear infinite, 
    color_change 1.5s 1s linear infinite;
    animation: bounce 2s 1s linear infinite, 
    color_change 1.5s 1s linear infinite;
  }
}

#results{
  margin-top: 70px;
  .ans_question{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-bottom: solid 2px rgb(255, 255, 255);
    float: none;
    margin: 0 auto;
    font-family: museo-sans;
    h4 {
      font-family: museo-sans-bold;
    }
  }
  .feed_back_widget{
    .feedback_option{
      text-decoration: none;
      &:hover{
        cursor: pointer; 
        cursor: hand;
      }
    }
    #yes{
      color: green;
    }
    #no{
      color: red;
    }
    #kinda{
      color: orange;
    }
  }
}
