footer {
  background: #595959;
  border-top: solid 1px #aaa;
  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  height:75px;
  #home_footer{
    color: #aaa;
    padding: 28px;
  }
}