header{
  padding: 10px 0 10px 0;
  #logo{
    #logo_text{
      font-size: 30px;
      text-transform: uppercase;
      color: #fff;
      font-family: museo-sans;
      font-weight: 700;
      letter-spacing: 8px;
    }
    #sub_logo_text{
      font-size: 14px;
      color: #fff;
      font-family: museo-sans;
      font-weight: 700;
    }
  }
  #site_nav_links{
    list-style-type: none;
    float: right;
    display: inline;
    .menu_item{
      padding-right: 0;
      padding-left: 20px;
      display: inline;
      a{
        font-size: 16px;
        font-weight: bold;
        color: rgba(255,255,255,.75);
        border-bottom: 2px solid transparent;
      }
    }
    .menu_item.active{
      a{
        color: #fff;
      }
    }
  }
}
