body.college_default{
  background-color: #143767;
  #main_content #form_title {
    color: #FFF;
  }
}
body.college_northwestern_university{
  background-image: url(/images/background.png);
  background-attachment: fixed;
  #main_content #form_title {
    color: #e1dcf3;
  }
}
body.college_augustana_college{
  background-color: #036;
  #main_content #form_title {
    color: #6baced;
  }
}
body.college_loyola_university{
  background-color: #800000;
  #main_content #form_title {
    color: #F78888;
  }
}
body.college_university_of_illinois_urbana_champaign{
  background-color: #EF8A1C;
  #main_content #form_title {
    color: #f5c590;
  }
}
#background_gradient{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -5;
  background: -webkit-gradient(radial, center 40%, 800, center 40%, 0, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: -moz-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}


#main_content{
  width: 100%;
  margin: 17px auto 0px;
  font-family: museo-sans;
  text-align: center;
  padding-top: 15%;
  #form_title{
    //display: none;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 36px;
    font-family: museo-sans;
    line-height: 24px;
    letter-spacing: 4px;
  }
  #form_sub_title{
    font-size: 22px;
    //display: none; 
    color: #FFF;
  }
  #question{
    float: none;
    height: 2.5em;
    font-size: 100%
  }
  #ask_question_form_wrapper{
    //display: none;
  }
  #submit_question{
    float: none;
    //box-shadow: inset 0px 1px 0px 0px #e6cafc;
    background: -webkit-radial-gradient(128, 128, 128);
    background: -o-radial-gradient(128, 128, 128);
    background: -moz-radial-gradient(128, 128, 128);
    background: radial-gradient(128, 128, 128);
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737373', endColorstr='#404040');
    background-color: #2b2b2b;
    text-indent: 0px;
    border: none;
    display: inline-block;
    color: #ffffff;
    font-family: museo-sans;
    font-size: 100%;
    font-style: normal;
    height: 2.5em;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #2b2b2b;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  label {
    color: #fff;
    text-shadow: 1px 1px 0px #2b2b2b;
  }
  #remove_user_reviews_wrapper {
    float: right;
  }
}
